numpy<2.0.0
scipy>=1.10
opencv-python<4.10.0
opencv-contrib-python<4.10.0
ultralytics
PyYAML>=6.0
pyrealsense2>=2.54

# robotic arm (reBotArm_control_py) dependencies
pin>=3.9.0
meshcat>=0.3.2
matplotlib>=3.10.0
motorbridge>=0.1.7
